<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>code.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginU</url-pattern>
  </servlet-mapping>
  <display-name>DAcsdl</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>code.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtocartServlet</display-name>
    <servlet-name>AddtocartServlet</servlet-name>
    <servlet-class>code.servlet.AddtocartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtocartServlet</servlet-name>
    <url-pattern>/Addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutchitietServlet</display-name>
    <servlet-name>OutchitietServlet</servlet-name>
    <servlet-class>code.servlet.OutchitietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutchitietServlet</servlet-name>
    <url-pattern>/Outchitiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecServlet</display-name>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <servlet-class>code.servlet.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <url-pattern>/QuantityInc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themProductServlet</display-name>
    <servlet-name>themProductServlet</servlet-name>
    <servlet-class>code.servlet.themProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themProductServlet</servlet-name>
    <url-pattern>/themProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TongtienServlet</display-name>
    <servlet-name>TongtienServlet</servlet-name>
    <servlet-class>code.servlet.TongtienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TongtienServlet</servlet-name>
    <url-pattern>/Tongtien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xemchitietServlet</display-name>
    <servlet-name>xemchitietServlet</servlet-name>
    <servlet-class>code.servlet.xemchitietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xemchitietServlet</servlet-name>
    <url-pattern>/xemchitiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoakhoiDHServlet</display-name>
    <servlet-name>XoakhoiDHServlet</servlet-name>
    <servlet-class>code.servlet.XoakhoiDHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoakhoiDHServlet</servlet-name>
    <url-pattern>/XoakhoiDH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themproductServlet</display-name>
    <servlet-name>themproductServlet</servlet-name>
    <servlet-class>code.servlet.themproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themproductServlet</servlet-name>
    <url-pattern>/themproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tongtienservlet</display-name>
    <servlet-name>tongtienservlet</servlet-name>
    <servlet-class>code.servlet.tongtienservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tongtienservlet</servlet-name>
    <url-pattern>/tongtien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>quantityIncDecServlet</display-name>
    <servlet-name>quantityIncDecServlet</servlet-name>
    <servlet-class>code.servlet.quantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quantityIncDecServlet</servlet-name>
    <url-pattern>/quantityInc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtocartServlet</display-name>
    <servlet-name>addtocartServlet</servlet-name>
    <servlet-class>code.servlet.addtocartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocartServlet</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xoakhoiDHServlet</display-name>
    <servlet-name>xoakhoiDHServlet</servlet-name>
    <servlet-class>code.servlet.xoakhoiDHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoakhoiDHServlet</servlet-name>
    <url-pattern>/xoakhoiDH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>code.servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlet</servlet-name>
    <url-pattern>/OrderNow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdminServlet</display-name>
    <servlet-name>LoginAdminServlet</servlet-name>
    <servlet-class>code.servlet.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServlet</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xemCTServlet</display-name>
    <servlet-name>xemCTServlet</servlet-name>
    <servlet-class>code.servlet.xemCTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xemCTServlet</servlet-name>
    <url-pattern>/xemCT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chitietServlet</display-name>
    <servlet-name>chitietServlet</servlet-name>
    <servlet-class>code.servlet.chitietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chitietServlet</servlet-name>
    <url-pattern>/chitiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutCTServlet</display-name>
    <servlet-name>OutCTServlet</servlet-name>
    <servlet-class>code.servlet.OutCTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutCTServlet</servlet-name>
    <url-pattern>/OutCT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTHServlet</display-name>
    <servlet-name>SearchTHServlet</servlet-name>
    <servlet-class>code.servlet.SearchTHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTHServlet</servlet-name>
    <url-pattern>/SearchTH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchServlet</display-name>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>code.servlet.searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>code.servlet.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/SearchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProduct1Servlet</display-name>
    <servlet-name>SearchProduct1Servlet</servlet-name>
    <servlet-class>code.servlet.SearchProduct1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProduct1Servlet</servlet-name>
    <url-pattern>/SearchProduct1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserServlet</display-name>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>code.servlet.SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/SearchU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearchServlet</display-name>
    <servlet-name>UserSearchServlet</servlet-name>
    <servlet-class>code.servlet.UserSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchServlet</servlet-name>
    <url-pattern>/UserSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>code.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>code.servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>code.servlet.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/ProductSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductTimServlet</display-name>
    <servlet-name>ProductTimServlet</servlet-name>
    <servlet-class>code.servlet.ProductTimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductTimServlet</servlet-name>
    <url-pattern>/ProductTim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themProductRServlet</display-name>
    <servlet-name>themProductRServlet</servlet-name>
    <servlet-class>code.servlet.themProductRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themProductRServlet</servlet-name>
    <url-pattern>/themProductR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtocartRServlet</display-name>
    <servlet-name>addtocartRServlet</servlet-name>
    <servlet-class>code.servlet.addtocartRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocartRServlet</servlet-name>
    <url-pattern>/addtocartR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>code.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userInfoServlet</display-name>
    <servlet-name>userInfoServlet</servlet-name>
    <servlet-class>code.servlet.userInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfoServlet</servlet-name>
    <url-pattern>/user-info</url-pattern>
  </servlet-mapping>
</web-app>